@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:wght@400;800&display=swap');

html, body {
    width: 100%;
    overflow-x: hidden; 
}
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assets/Images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-size: 90vh;
    background-image: c;
    background-size: max(1300px, 100vw);
    height: 720px;
    position: relative;
   
}

.main .box {
    height: 720px;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0%;
   
}

nav {
    max-width: 76vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 90px;
}

nav img {

    color: red;
    width: 140px;
    opacity: .9;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Poppins", sans-serif;
    height: calc(100% - 98px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 16px;
    padding: 0px 34px;
}

.hero> :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 47px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 300;
    font-size: 18px;
    text-align: center;

}

.line {
    height: 8px;
    background-color: rgba(70, 66, 66, 0.8);
    position: relative;

}

.btn {
    padding: 9px 16px;
    border-radius: 6px;
    font-weight: 500;
    background-color: transparent;
    color: white;
    cursor: pointer;

}

.btn-red {
    background-color: rgb(246, 18, 18);
    color: white;
    padding: 8px 28px;
    font-size: 21px;
    border-radius: 5px;

}


.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.main input {
    padding: 15px 155px 15px 17px;
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(94, 92, 92, 0.5);

}

.btn-red-sm {
    background-color: rgb(246, 18, 18);
    color: white;
    padding: 9px 16px;
    border-radius: 6px;

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 76vw; */
    max-width: 80vw;
    height: 77vh;
    margin: auto;
    color: white;
    overflow: hidden;

}
@media screen and (max-width:1200px) {
    .first {
        flex-wrap: wrap;
        height: 100vh;
       
    }
}

.secimg {
    position: relative;
}

.secimg img {
    max-width: 400px;
    position: relative;
    z-index: 15;

}

.secimg video {
    position: absolute;
    top: 70px;
    right: 7px;
   
    width: 340px;

}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 21px;
   
}

.secimg1 {
    position: relative;
}

.secimg1 img {
    width: 550px;
    position: relative;
    z-index: 15;
}

.secimg1 video {
    position: absolute;
    width: 340px;
    height: 380px;

    top: -29px;
    right: 117px;

}

.faq {
    background-color: black;
    color: white;
    font-size: 24px;
    margin: 34px auto;
}

.faqbox:hover {
    background-color: rgb(60, 59, 59);
}

.faqbox {
    display: flex;
    padding: 20px;
    background-color: rgb(44, 43, 43);
    margin: 7px auto;
    max-width: 73vw;
    justify-content: space-between;
    cursor: pointer;
}

.faq h2 {
    text-align: center;
    font-size: 45px;
    /* margin: 20px auto; */
}

.herosec {
    font-family: "Poppins", sans-serif;
    height: calc(100% - 98px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 16px;
    padding: 0px;
}

.herosec> :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}

.herosec input {
    padding: 15px 155px 15px 17px;
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #1b1a1a95;
    border: 2px solid rgba(76, 74, 74, 0.5);

}
@media screen and (max-width:1300px) {
    footer {
        color: white;
        max-width: 93vw;
        margin: auto;
        height: 40vh;
        padding: 64px 0px 0px 0px;
        margin: 0px;
    }
}


footer span {
    text-align: center;
    font-size: 16px;
    color: rgb(182, 177, 177);
    margin: 0px 140px -25px;
    
}

.footer {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    color: white;
    margin: 40px 80px;
    padding: 0px 64px 64px;

}

.footer a {
    font-size: 14px;
    color: rgb(182, 177, 177);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 285px;
    }

    .secImg video {
        width: 285px;
    }

    .hero> :nth-child(1) {
        font-size: 18px;
    }

    .hero> :nth-child(2) {
        font-size: 12px;
    }

    .hero> :nth-child(3) {
        font-size: 12px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .faq h2 {
        text-align: center;
        font-size: 24px;
    }

    footer {
        max-width: 90vw;
        padding: 60px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 600px) {
    .main input {
        padding: 7px 120px 7px 9px;
        color: rgb(253, 253, 253);
        font-size: 5px;
        font-weight: 400;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid rgba(94, 92, 92, 0.5);
    
    }
    .btn {
        padding: 4px 8px;
        border-radius: 6px;
        font-weight: 400;
        background-color: transparent;
        color: white;
        cursor: pointer;
    
    }
    .btn-red {
        background-color: rgb(246, 18, 18);
        color: white;
        padding: -8px -8px;
        font-size: 18px;
        border-radius: 5px;
    
    }
    
    .herosec input {
        padding: 5px 100px 5px 7px;
        color: rgb(253, 253, 253);
        font-size: 5px;
        font-weight: 400;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid rgba(94, 92, 92, 0.5);
    
    }
    .btn-red-sm {
        background-color: rgb(246, 18, 18);
        color: white;
        padding: 9px 16px;
        border-radius: 6px;
    
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
    }
}


.footer a {
    font-size: 12px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

  